In [1]:
import pandas as pd
import numpy as np
import tushare as ts
import os 
from tqdm import tqdm
import glob
debug = False
from datetime import datetime

In [2]:
pro = ts.pro_api('20240522230128-d50d7a15-d7c5-47d4-bccc-25f6c754496a')
pro._DataApi__http_url = 'http://tsapi.majors.ltd:7000'

In [3]:
trade_date = '20240530'
stocklist = pro.stock_basic(exchange='', list_status='L', 
                            fields='ts_code, symbol, name, area, industry, list_date')
stocklist.head()

     ts_code  symbol   name area industry list_date
0  000001.SZ  000001   平安银行   深圳       银行  19910403
1  000002.SZ  000002    万科A   深圳     全国地产  19910129
2  000004.SZ  000004   国华网安   深圳     软件服务  19910114
3  000006.SZ  000006   深振业A   深圳     区域地产  19920427
4  000007.SZ  000007  *ST全新   深圳     其他商业  19920413

In [4]:
trade_cal = pro.trade_cal(exchange='', start_date='20220101', end_date='20240430')
trade_cal = trade_cal[trade_cal.is_open==1]
trade_cal.head()

  exchange  cal_date  is_open pretrade_date
0      SSE  20240430        1      20240429
1      SSE  20240429        1      20240426
4      SSE  20240426        1      20240425
5      SSE  20240425        1      20240424
6      SSE  20240424        1      20240423

In [ ]:
price_PD = []
for trade_date in trade_cal.cal_date:
    df = [] 
    for code in tqdm(stocklist.ts_code.head(30)):
        tmp = ts.pro_bar(ts_code=code, adj='qfq', start_date=trade_date, end_date=trade_date, api=pro)
        df.append(tmp)
    df = pd.concat(df)
    price_PD.append(df)
    
price_PD = pd.concat(price_PD).reset_index(drop=True)

price_PD = price_PD.drop_duplicates().sort_values(['ts_code','trade_date']).reset_index(drop=True)
price_PD.to_csv(f'price_PD.csv', index=False)  #'前复权' 
print("Data saved.")

100%|███████████████████████████████████████████| 30/30 [01:39<00:00,  3.32s/it]
100%|███████████████████████████████████████████| 30/30 [01:39<00:00,  3.33s/it]
 63%|███████████████████████████▏               | 19/30 [01:07<00:37,  3.38s/it]

('Connection aborted.', ConnectionResetError(54, 'Connection reset by peer'))

100%|███████████████████████████████████████████| 30/30 [01:47<00:00,  3.58s/it]
 27%|███████████▋                                | 8/30 [00:22<01:01,  2.78s/it]

In [ ]:
price_PD = []
for trade_date in trade_cal.cal_date:
    df = [] 
    for code in tqdm(stocklist):
        tmp = ts.pro_bar(ts_code=code, adj=None, start_date=trade_date, end_date=trade_date, api=pro)
        df.append(tmp)
    df = pd.concat(df)
    price_PD.append(df)
    
price_PD = pd.concat(price_PD).reset_index(drop=True)

price_PD = price_PD.drop_duplicates().sort_values(['ts_code','trade_date']).reset_index(drop=True)
price_PD.to_csv('price_PD_unadj.csv', index=False)   #'未复权/除权'
print("Data saved.")